@charset "utf-8";

html,
html * {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
}
.wrapper {
    margin: 0 auto;
    min-height: 100%;
}
/* pagina header */
.pagina-header {
	text-align: center;
	width: 90%;
	margin: 40px auto;
  	box-shadow: 0px 0px 2px #191919;
  	padding: 5px;
}
.pagina-top {
	font-family: 'Righteous';
	font-size: 35px;
}
.pagina-bottom {
	font-size: 24px;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Righteous';
}
p {
    font-family: 'Roboto';
}
/* end pagina header */

#logo img {
    display: block;
    position: absolute;
    mix-blend-mode: multiply;
    height: 55px;
    width: auto;
    padding: 0;
    line-height: 60px;
}
.toggle, [id^=drop] {
	display: none;
}

nav {
	background-color: #E3F0D4;
	margin: 0;
  padding: 0;
  font-weight: 500;
}

nav:after {
  content:"";
  display: table;
  clear: both;
}
nav ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
nav ul li {
  margin: 0;
  display: inline-block;
  float: left;
  background-color: #E3F0D4;
}
nav a {
  display: block;
  padding: 1rem 1rem;
  color: black;
  font-size: 1rem;
  width: 210px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  text-transform: uppercase;
}
nav ul li ul li:hover {
  background: #902656;
}
nav a:hover {
  background: #902656;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 51px;
}
nav ul li:hover > ul {
  display: inherit;
}
nav ul ul li {
  width: 100%;
  float: none;
  display: list-item;
  position: relative;
}

li > a:only-child:after { 
  content: ''; 
}
.active {
    font-weight: bold;
}




/* footer */
footer {
    position: relative;
    height: auto;
    width: 100%;
    background: #E3F0D4;
  }
  footer .footer-bottom {
    height: 1.8rem; 
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: #96c959;
  }
  .footer {
    display: flex;
  }
  .footer, .left-box, .center-box, .right-box {
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .fa-facebook {
    color: #3B5998;
    transition: transform .2s;
    margin-right: 2rem;
  }
  .fa-pinterest {
    color: #C8323C;
    transition: transform .2s;
  }
  .content ul {
    padding-left: 0;
  }
  .content li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  .content li a:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
  .content li {
    list-style: none;
    line-height: 1.6em;
  }
  .left-box h2, .center-box h2, .right-box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .left-box, .center-box, .right-box, .content {
    margin: 20px 0 0 0;
    position: relative;
  }
  .left-box > .content {
    padding-top: 0.2rem;
    text-align: left;
  }
  .center-box > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    .content:before {
    position: absolute;
    content:'';
    top: -10px;
    height: 3px;
    width: 100%;
    background: #E3F0D4;
  }
  .content:after {
    position: absolute;
    content:'';
    top: -10px;
    height: 3px;
    width: 15%;
    background: #96c959;
  }
  .left-box > .content .fas {
    font-size: 1rem;
    background: #96c959;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
  }
  .phone, .email {
    margin-top: 5px;
  }
  .email {
    margin-bottom: 5px;
  }
  .phone a, .email a {
      color: black;
  } 
  .phone a:hover, .email a:hover {
    text-decoration: underline;
    opacity: 0.8;
    }
 .social {
    margin-top: 20px;
    text-align: left;
  }
  .social a span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    transition: .3s;
  }
  .social a span:hover {
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95); 
    transition: transform .2s;
  }
  .fa-cc-mastercard {
    background: -webkit-linear-gradient(180deg, #FF5F00 50%, #EB001B  33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}
.fa-cc-visa {
    color: #1a1f71;
    font-size: 35px;
}
.fa-ideal {
    color:rgb(189, 15, 189);
    font-size: 35px;
}
.fa-cc-paypal {
    color: rgb(0 69 124);
    font-size: 35px;
}
.payment {
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}
  .right-box form input {
    width: 100%;
    max-width: 450px;
    font-size: 1.0625rem;
    background:#fff;
    padding-left: 10px;
    margin-top: 1rem;
    height: 35px;
    border-radius: 1rem;
    border: none;
    
  }
  .right-box form input:focus {
    border: 1px solid #aacf80;
    outline: none;
  }
  .right-box form input::placeholder {
    color: black;
  }

  .right form .text-footer {
    font-size: 1.0625rem;
    margin-bottom: 2px;
  }
  .footer-btn {
    margin-top: 10px;
  }
  .footer-btn button {
    height: 40px;
    width: 100%;
    max-width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    background: #E4CACA;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px 0px;
  }
  .footer-btn button:hover {
    box-shadow: none;
    background-color: #902656;
  }
  .left-box h3, .center-box h3, .right-box h3 {
    font-size: 1rem;
    opacity: 0.7;
    font-family: 'Roboto';
  }
  .payment p {
    font-size: 1rem;
    opacity: 0.7;
    margin-top: 5.5rem;
  }


  /* Responsive */
  @media all and (min-width: 1200px) {

    }
  @media all and (max-width : 1200px) {
    #logo {
      display: flex;
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;
      text-align: center;
      justify-content: center;
      z-index: 1;
      mix-blend-mode: multiply;
    }
    nav {
      margin: 0;
    }
    nav a {
      text-align: left;
    }



    nav ul li ul li:hover {
      background: transparent;
    }
    nav a:hover {
      background: transparent;
    }




    .fa-bars {
      font-size: 1.6rem;
    }
  
    /* Hide the navigation menu by default */
    /* Also hide the toggles */
    .toggle + a,
    .menu {
      display: none;
    }
  
    /* Styling the toggle lable */
    .toggle {
      display: block;
      
      background-color: rgb(189,223,144);
      padding:14px 20px;
      font-size:1rem;
      text-decoration:none;
      border:none;
      text-transform: uppercase;
    }
  

  
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
      display: block;
    }
  
    /* Change menu item's width to 100% */
    nav ul li {
      display: block;
      width: 100%;
      }
  
    
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
      padding:14px 20px;	
      font-size:1rem; 
    }
  
    /* Hide Dropdowns by Default */
    nav ul ul {
      float: none;
      position:static;
    }
      
    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
      display: none;
    }
      
    /* Dropdown */
    nav ul ul li {
      display: block;
      width: 100%;
    }
  

  }
  /* Media queries */
  @media screen and (max-width: 900px) {
    footer {
      position: relative;
      bottom: 0px;
    }
    .footer {
      flex-wrap: wrap;
      flex-direction: column;
    }
    .left-box, .center-box, .right-box {
      margin: 5px 0;
    }
    .credit {
      display: none;
    }
    .center-box > .content {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }


  }
  @media screen and (max-width: 800px) {
    .center-box {
      order: 1;
    }
    .social {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
