@charset "utf-8";

html,
html * {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
    
}
.wrapper {
    margin: 0 auto;
    min-height: 100%;
}
/* pagina header */
.pagina-header {
	text-align: center;
	width: 90%;
	margin: 40px auto;
  	box-shadow: 0px 0px 2px #191919;
  	padding: 5px;
}
.pagina-top {
	font-family: 'Righteous';
	font-size: 35px;
}
.pagina-bottom {
	font-size: 24px;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Righteous';
    letter-spacing: 0.05em;
}
p {
    font-family: 'Roboto';
}
/* end pagina header */

.wrapper-nav {
  background: #E3F0D4;
  position: fixed;
  width: 100%;
  z-index: 99;
}
.wrapper-nav nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  
}

nav .content-nav {
  display: flex;
  align-items: center;
}
nav .content-nav .links {
  margin-left: 80px;
  display: flex;
}
#logo {
  mix-blend-mode: multiply;
}
.content-nav {
  font-size: 30px;
  font-weight: 600;
}
.content-nav .links li {
  list-style: none;
  line-height: 90px;
}
.content-nav .links li a,
.content-nav .links li label{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content-nav .links li label{
  display: none;
}
.content-nav .links li a:hover,
.content-nav .links li label:hover{
  background: #902656;
}
.wrapper-nav .search-icon,
.wrapper-nav .menu-icon{
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper-nav .menu-icon{
  display: none;
}
.wrapper-nav #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}

.wrapper-nav .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper-nav #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: #E3F0D4;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  opacity: 0.8;
  color: black;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #E3F0D4;
  border: none;
  outline: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.wrapper-nav input[type="checkbox"]{
  display: none;
}

/* Dropdown Menu code start */
.content-nav .links ul{
  position: absolute;
  background: #E3F0D4;
  top: 80px;
  opacity: 0;
  visibility: hidden;
}
.content-nav .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content-nav .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px;
}

.content-nav .links ul li{
  position: relative;
}
.content-nav .links ul li:hover ul{
  top: 0;
}













/* footer */
footer {
    position: relative;
    height: auto;
    width: 100%;
    background: #E3F0D4;
  }
  footer .footer-bottom {
    height: 1.8rem; 
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
    background-color: #96c959;
  }
  .footer {
    display: flex;
  }
  .footer, .footer > * {
    padding: 10px 20px;
}
.footer > * {
    flex-basis: 50%;
}
  .fa-facebook {
    color: #3B5998;
    transition: transform .2s;
    margin-right: 2rem;
  }
  .fa-pinterest {
    color: #C8323C;
    transition: transform .2s;
  }
  .content-footer ul {
    padding-left: 0;
  }
  .content-footer li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  .content-footer li a:hover {
    text-decoration: underline;
    opacity: 0.8;
  }
  .content-footer li {
    list-style: none;
    line-height: 1.6em;
  }
  .left-box h2, .center-box h2, .right-box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .left-box, .center-box, .right-box, .content-footer {
    margin: 20px 0 0 0;
    position: relative;
  }
  .left-box > .content-footer {
    padding-top: 0.2rem;
    text-align: left;
  }
  .center-box > .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
    .content-footer:before {
    position: absolute;
    content:'';
    top: -10px;
    height: 3px;
    width: 100%;
    background: #E3F0D4;
  }
  .content-footer:after {
    position: absolute;
    content:'';
    top: -10px;
    height: 3px;
    width: 15%;
    background: #96c959;
  }
  .left-box > .content-footer .fas {
    font-size: 1rem;
    background: #96c959;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
  }
  .phone, .email {
    margin-top: 5px;
  }
  .email {
    margin-bottom: 5px;
  }
  .phone a, .email a {
      color: black;
  } 
  .phone a:hover, .email a:hover {
    text-decoration: underline;
    opacity: 0.8;
    }
 .social {
    margin-top: 20px;
    text-align: left;
  }
  .social a span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    transition: .3s;
  }
  .social a span:hover {
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95); 
    transition: transform .2s;
  }
  .fa-cc-mastercard {
    background: -webkit-linear-gradient(180deg, #FF5F00 50%, #EB001B  33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}
.fa-cc-visa {
    color: #1a1f71;
    font-size: 35px;
}
.fa-ideal {
    color:rgb(189, 15, 189);
    font-size: 35px;
}
.fa-cc-paypal {
    color: rgb(0 69 124);
    font-size: 35px;
}
.payment {
  bottom: 0;
  margin: 0;
  text-align: left;
}
  .right-box form input {
    width: 100%;
    max-width: 450px;
    font-size: 1.0625rem;
    background:#fff;
    padding-left: 10px;
    margin-top: 1rem;
    height: 35px;
    border-radius: 1rem;
    border: none;
    
  }
  .right-box form input:focus {
    border: 1px solid #aacf80;
    outline: none;
  }
  .right-box form input::placeholder {
    color: black;
  }

  .right form .text-footer {
    font-size: 1.0625rem;
    margin-bottom: 2px;
  }
  .footer-btn {
    margin-top: 10px;
  }
  .footer-btn button {
    height: 40px;
    width: 100%;
    max-width: 150px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    background: #E4CACA;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px 0px;
  }
  .footer-btn button:hover {
    box-shadow: none;
    background-color: #902656;
  }
  .left-box h3, .center-box h3, .right-box h3 {
    font-size: 1rem;
    opacity: 0.7;
    font-family: 'Roboto';
  }
  .payment p {
    font-size: 1rem;
    margin-top: 5.5rem;
    text-decoration: underline;
  }


  /* Responsive */
  
  /* Media queries */
  @media screen and (max-width: 1250px){
    .wrapper-nav nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content-nav .links{
      margin-left: 30px;
    }
    .content-nav .links li a{
      padding: 8px 13px;
    }
    .wrapper-nav .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper-nav .search-box input{
      padding: 0 100px 0 15px;
    }
  }

  @media screen and (max-width: 1000px) {
    .wrapper-nav .menu-icon{
      display: block;
    }
    .wrapper-nav #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content-nav .links{
      display: block;
      position: fixed;
      background: #E3F0D4;
      height: 100%;
      width: 100%;
      top: 40px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content-nav .links{
      left: 0%;
    }
    .content-nav .links li{
      margin: 15px 20px;
    }
    .content-nav .links li a,
    .content-nav .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content-nav .links li a.desktop-link{
      display: none;
    }
  
    /* dropdown responsive code start */
    .content-nav .links ul,
    .content-nav .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content-nav .links #show-maaltijdboxen:checked ~ ul,
    .content-nav .links #show-hoewerkthet:checked ~ ul,
    .content-nav .links #show-account:checked ~ ul,
    .content-nav .links #show-over:checked ~ ul{
      max-height: 100vh;
    }
    .content-nav .links ul li{
      margin: 7px 20px;
    }
    .content-nav .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px;
    }
  }
