@charset "utf-8";
/* CSS Document */
html,
html * {
	box-sizing:  border-box;
}
								
body {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	height: 100%;
}
#wrapper {
	width: 80%;
	position: relative;
	margin: 0 auto 0 auto;
	background-color: #f1e3e3;
	background-size: cover;
	min-height: 100%;
	box-shadow: inset 75px 0px 75px -33px #FFFFFF, 
              	inset -75px 0px 75px -33px #FFFFFF;
  	border-left: 1px solid #FFFFFF;
  	border-right: 1px solid #FFFFFF;

}
															/*start homepage*/
.content {
	height: 100%;
	width: 100%;
}

															/*background images*/
.content > .wrapper-home-background-images {
	position: relative;
	height: 225px;
	width: 100%;
	margin-top: 70px;
}

.wrapper-home-background-images > .maaltijdbox-image-home {
	display: grid;
	position:absolute;
	margin-left: 260px;
	box-shadow: -8px 10px 18px #191919;
}

.wrapper-home-background-images > .background-image-home {
	display: grid;
	margin-left: 800px;
	position: absolute;
	box-shadow: -8px 10px 18px #191919;
}

															/*end background images*/

.row {
	display: flex;
	flex-direction: row;
	mix-blend-mode: multiply;
	text-align: center;
	position: relative;
	font-family: 'IndieFlower', cursive;
	font-size: 16px;
	width: 85px;
	max-width: 100%;
	margin-left: 550px;
	top: 50px;
	margin-bottom: 100px;
	font-weight: bold;
	
}
.row > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row img {
	mix-blend-mode: multiply;
}
.arrows img {
	display: inline-block;
	width: 70px;
	height: 55px;	
	mix-blend-mode: multiply;
	margin: 15px -18px auto 0px;
	opacity: 0.6;
}

															/*end row of images*/

.review-bar {
	display: flex;
	position: relative;
	margin-top: 25px;
	width: 100%;
	height: 250px;
 	background-color: rgb(237,161,161);
	box-shadow: inset 100px 0px 100px -33px #FFFFFF, 
            	inset -100px 0px 100px -33px #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.review-bar-text-a {
	position: relative;
	display: grid;
	height: 90px;
	width: 150px;
	margin-left: 340px;
	margin-top: 70px;
	font-size: 18px;
	text-align: center;
	opacity: 0.8;
	font-weight: 400;
	max-width:100%;
}
.review-bar .fake-rating-img img {
	display: grid;
	height: 140px;
	margin-top: 50px;
	margin-left: 5px;
	width: auto;
	border-radius: 50%;
	margin-bottom: 50px;
	transition: transform .2s;
}
.fake-rating-img img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5); 
}
.review-bar-text-b {
	display: grid;
	position: absolute;
	height: 90px;
	width: 250px;
	margin-left: 1240px;
	margin-top: 30px;
	font-family: 'IndieFlower',cursive;
	font-size: 22px;
	text-align: center;
	opacity: 0.9;
}
.review-bar-text-c {
	display: grid;
	position: absolute;
	height: 90px;
	width: 250px;
	margin-left: 1240px;
	margin-top: 70px;
	font-size: 18px;
	text-align: center;
	font-weight: 400;
	opacity: 0.8;
}
.gezonde-site-review {
	background-color: white;
	height: 140px;
	width: 140px;
	border-radius: 50%;
	margin-top: 50px;
	margin-left: 450px;
	transition: transform .2s;
}
.gezonde-site-review:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  cursor: pointer;
 }
 .gezonde-site-review h1 {
 	font-size: 19px;
 	text-align: center;
 	font-weight: 400;
 }
 .gezonde-site-review h2 {
 	font-size: 27px;
 	text-align: center;
 	font-weight: 300;
 }
 														/*begin klanten review row*/
 .klanten-review-row {
 	flex-direction: row;
 	flex-wrap: nowrap;
 	display: inline-flex;
	max-width:80%;
 	width: 70%;
 	margin: 50px 20% 70px 20%;
 }
 .review-links {
 	text-align: center;
 	margin-right: 150px;
 	width: 500px;
 }
 .review-rechts {
 	text-align: center;
 	width: 500px;
 }
 .klanten-review-row h2 {
 	font-family: 'IndieFlower',cursive;
 	font-size: 18px;
 }
 .klanten-review-row h3 {
	font-weight: 100;
 }
 .review-links img {
 	margin-top: 24px;
 }
 .klanten-review-row img {
 	mix-blend-mode: multiply;
 }
													/*einde klanten review row*/


													/*	double pic en text*/

 .fresh-food-double {
   position: relative;
 	top: 0;
 	left: 60px;
 }
 .fresh-food-image {
 	position: absolute;
 	top: 250px;
 	left: 315px;
 	z-index: 4;
 }
 .food-hands-image {
 	position: relative;	
 	top: 0px;
 	left: 0px;
 	z-index: 3;
 }
 .food-hands-image img {
 	box-shadow: 4px 5px 5px #191919;
 }
 .fresh-food-image img {
 	box-shadow: 14px 20px 20px #191919;
 }
 .fresh-food-list {
 	position: relative;
 	width: 550px;
 	bottom: 50px;
 	left: 880px;
 	padding: 20px;
 	box-shadow: 0px 0px 3px #191919;
 }
 .fresh-food-list img {
 	mix-blend-mode: multiply;
 }
 .fresh-food-list li {
 	list-style: none;
 	text-align: left;
 	padding-bottom: 15px;
 }
 	.fresh-food-list li > .fresh-food-list-kop {
	margin-left: 70px;
	font-family: 'IndieFlower',cursive;
	font-size: 24px;
 }
 	.fresh-food-list li > .fresh-food-list-text {
 	margin-left: 70px;
 	font-weight: 200;
 }

 													/*	einde double pic en text*/
.bestel-nu {
	position: relative;
	max-width: 100%;
	width: 420px;
	border: 1px solid black;
	padding: 20px;
	font-size: 30px;
	font-family: 'IndieFlower', cursive;
	background-color: #E3F0D4;
	margin: 0 auto;
	margin-bottom: 120px;
	-webkit-transition: background-color 0.7s ease-out;
	-moz-transition: background-color 0.7s ease-out;
	-o-transition: background-color 0.7s ease-out;
	transition: background-color 0.7s ease-out;
}
.bestel-nu a {
	text-decoration: none;
	color: black;
}
.bestel-nu:hover {
	background-color:rgb(162, 220, 84);
	-webkit-transition: background-color 0.7s ease-out;
	-moz-transition: background-color 0.7s ease-out;
	-o-transition: background-color 0.7s ease-out;
	transition: background-color 0.7s ease-out;
}
 
 															
 															/*end content homepage*/

															/* maaltijdbox content */


.maaltijdbox-top-text {
	font-size: 30px;
	font-family: 'IndieFlower',cursive;
	text-align: center;
	text-decoration: underline;
}
.basis-maaltijdbox a, .extra-maaltijdbox a, .luxe-maaltijdbox a {
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	color: black;
	opacity: 0.8;
}
.prijs-per-portie-week {
	border-spacing: 30px 0;
}
.prijs-per-portie-week th {
	text-align: left;
	font-weight: 500;
}

.grid-container-maaltijdbox {
	width: 80%;
	margin: 40px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.bestellen-maaltijdbox {
	margin: 10px 0 5px 50px;
	padding: 7px 30px 7px 30px;
	font-size: 20px;
}

.basis-maaltijdbox, .extra-maaltijdbox, .luxe-maaltijdbox {
	width: 350px;
	justify-content: center;
	align-content: center;
	display: grid;
	box-shadow: 4px 5px 5px -5px #191919;
	margin-bottom: 30px;
}


.select-style {
    border: 1px solid #902656;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #FFFFFF;
	margin-left: 60px;
	margin-top: 8px;
	margin-bottom: 15px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
.select-style:hover {
	background-color: #902656;
}




			/* maaltijdbox faq */

.maaltijdbox-faq {
	width: 60%;
	margin: 0 auto;
	border: 1px solid rgb(153, 152, 152);
	margin-bottom: 45px;
}
.maaltijdbox-faq article {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	height: 170px;
	text-align: left;
}
.section-a, .section-b {
	background-size: cover;
	border-right: 1px solid rgb(153, 152, 152);
}

				/* maaltijdbox faq text */

.maaltijdbox-faq-top {
	text-align: center;
	font-size: 25px;
	font-family: 'IndieFlower',cursive;
	margin-bottom: 50px;
}
.maaltijdbox-faq-vraag {
	text-align: center;
	margin: 0 10px 0 10px;
	height: 100px;
	font-size: 22px;
	font-family: 'IndieFlower',cursive;
}
.maaltijdbox-faq-antwoord {
	text-align: center;
	margin: 0 10px 0 10px;
	font-size: 20px;
	font-weight: 100;
}

.maaltijdbox-faq-link {
	text-align: center;
}



															/* end maaltijdbox content */



 															/*content recepturen pagina*/

 															/*pagina knoppen pagina 1*/
 .pagina-knoppen {
	width: 25%;
	height: 60px;
	display: inline-block;
}
.pagina-knoppen a {
   text-decoration: none;
   display: inline-block;
   position: absolute;
   font-size: 35px;
   width: 40px;
   text-align: center;
}
.pagina-knoppen > .volgende:hover {
   background-color: rgb(162, 220, 84);
   color: white;
}
.pagina-knoppen > .vorige {
   border-radius: 50%;
   background-color: #acacac;
   color: black;
 	 margin: 20px 36% 0 36%;
 	 position: absolute;

}
.pagina-knoppen > .volgende {
   border-radius: 50%;
   background-color: rgb(142, 200, 64);
   color: white;
   margin: 20px 56% 0 56%;
   position: absolute;
}
.vind-jouw-recepturen {
position: absolute;
margin: 25px 40% 0 40%;
}
 															/*pagina knoppen pagina 2*/
.pagina-knoppen-b {
	width: 25%;
	height: 60px;
  display: inline-block;
}
.pagina-knoppen-b a {
   text-decoration: none;
   display: inline-block;
   position: absolute;
   font-size: 30px;
   width: 35px;
   text-align: center;
}
.pagina-knoppen-b > .vorige-b:hover {
    background-color: rgb(162, 220, 84);
   	color: white;  
}
.pagina-knoppen-b > .vorige-b {
   border-radius: 50%;
   background-color: rgb(142, 200, 64);
    color: white;
	 margin: 20px 36% 0 36%;
	 position: absolute;
}
.pagina-knoppen-b > .volgende-b {
   border-radius: 50%;
   background-color: #acacac;
   color: black;
   margin: 20px 56% 0 56%;
   position: absolute;
}
.vind-jouw-recepturen {
	justify-content: center;
	width: 245px;
}
															/*einde pagina knoppen*/
															/*begin recepturen grid*/
.grid-container {
	width: 50%;
	margin: 40px auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
}
.grid-item img:hover {
	-ms-transform: scale(1.5);
  	-webkit-transform: scale(1.5);
  	transform: scale(1.5);
  	padding: 15px;
  	padding-top: 0;
  	background-color: #f1e3e3;
  	box-shadow: 8px 10px 18px #191919;
}
.grid-item a {
	text-decoration: none;
	color: black;
}

.grid-item {
	text-align: center;
	box-shadow: 8px 10px 18px #191919;
}

.main-grid-item {
	font-family: 'IndieFlower', cursive;
	font-size: 25px;
}

.text-grid-item {
	font-size: 16px;
	opacity: 0.7;
}
															/*einde recepturen grid*/

															/*receptuur pagina*/
.recepten-grid-top {
	font-size: 25px;
	font-family: 'IndieFlower', cursive;
	text-align: center;
}
.recepten-grid-personen {
	opacity: 0.65;
	margin-left: 15px;
}
.recepten-grid-text {
	margin-left: 15px;
	
}
.recepten-grid-bottom {
	margin-left: 15px;
	font-family: 'IndieFlower', cursive;
	text-align: center;
}
.recepten-grid-ingredienten-text {
	border-spacing: 30px 0;
}
.recepten-grid-ingredienten-text th {
	text-align: right;
}
.recepten-grid-ingredienten-text td {
	text-align: left;
}



.horizontal-line {
display: block; 
overflow: hidden; 
border-style: inset; 
border-width: 1px;
width: 80%;
margin-bottom: 35px;
margin-right: 90px;
}

.circle-number-a, .circle-number-b, .circle-number-c, .circle-number-d, .circle-number-e {
background:lightgray;
font-size:30px;
padding:5px;
height:65px;
width:65px;
border-radius:50%;
text-align:center;
padding-top: 12px;
border: 1px solid black;
opacity: 0.8;
float: left;
margin-right: 20px;
}
 
.grid-receptuur-bereidingswijze img {
	mix-blend-mode: multiply;
	float: left;
	margin-right: 20px;
}
.grid-receptuur-bereidingswijze {
	box-shadow: 24px 0px 3px -24px black;
}
.print-img {
	position: relative;
	mix-blend-mode: multiply;
	display: flex;
	margin-left: 400px;
}
.grid-receptuur-bereidingswijze button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	text-decoration: none;
	font-size: 16px;
}
.grid-receptuur-bereidingswijze > div img {
	float: left;
}
.grid-receptuur-bereidingswijze h3 {
	font-size: 20px;
	font-weight: 400;
}



.grid-container-receptuur {
	margin: 40px auto;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	grid-gap: 30px;
	list-style: none;
}

.grid-ingredienten img {
	box-shadow: 0px 0px 3px #191919;
	border-radius: 5%;
	margin: 15px 0 30px 15px;
}

.grid-ingredienten {
	width: 100%;
	box-shadow: 24px 0px 3px -24px black;
}

.grid-nieuw-receptuur img {
	margin-top: 15px;
	position: relative;
	top: 6px;

}
.grid-nieuw-receptuur a {
	margin-left: 20px;
	text-decoration: none;
	color: black;
}
.allergenen {
	box-shadow: 24px 0px 3px -24px black;
}
.allergenen img {
	float: left;
}
 															/*end content recepturen pagina*/

															 /* bestel pagina */
.bestellen-pagina-a-top {
	height: 50px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	border-bottom: 5px dotted rgb(142,200,64);
}
.bestellen-pagina-a-top p {
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
}
.vertical {
	border-left: 5px dotted rgb(142,200,64);
	height: 700px;
	position: absolute;
	left: 50%;
}

.content-bestelpagina-a section {
	height: 700px;
	width: 100%;
}
.content-bestelpagina-a article {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	height: 170px;
	text-align: left;
}
															 /* einde bestel pagina */



															 /* PRINT STYLES */
													/* override styles when printing */

@media print {
	body {
	  margin: 0;
	  color: #000;
	  background-color: #fff;
	  font-size: 14px;
	}
.recepten-grid-top {
	font-size:18px;
}
  header, .footer, nav, #logo, .menu, .receptuur-header, .grid-nieuw-receptuur {
	  display:none;
  }
  content::after {
	  content:"2021 foodfreedom alle rechten voorbehouden.";
	  display: block;
	  text-align: center;
  }
  img {
  display: none;
  }
  .circle-number-a, .circle-number-b, .circle-number-c, .circle-number-d, .circle-number-e {
	font-size:30px;
	text-align:center;
	opacity: 0.8;
	border: none;
	font-size: 17px;
  }
  .grid-ingredienten {
	  border-right: none;
	  text-align: left;
  }
  .grid-receptuur-bereidingswijze {
	  text-align: left;
	  border: none;
  }
  }