                                    /* content index */
                                    /* HERO */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/pexels-hero-home.jpeg);
    width: 100vw;
    height: 50vh;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    text-shadow: 1px 2px 1px black;
}
.hero h2 {
    font-family: 'Roboto';
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: white;
    text-shadow: 1px 2px 1px black;
}
.hero .bestelhero {
    display: block;
    width: 200px;
    border: 3px solid black;
    padding: 1em;
    margin: 50px auto 0 auto;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: #E4CACA;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px 0px;
}
.bestelhero:hover {
    background-color: #902656;
    box-shadow: none;
}
.hero a {
    text-decoration: none;
    color: black; 
}

                                    /* ARROWS */
.home-arrows-wrap {
    background-color: #f1e3e3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.home-row-arrows figure {
    max-width: 80%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.home-row-arrows figure img {
    mix-blend-mode: multiply;
}
.home-row-arrows {
    width: 55%;
    display: flex;
    flex-direction: row;
    background-color: #f1e3e3;
    padding-right: 0;
    padding-bottom: 50px;
}
.home-arrows-text {
    width: 100%;
    background-color: #f1e3e3;
    top: 0;
    z-index: -1;
    text-align: center;
}
.home-arrows-text h1 {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 0;
    padding: 35px;
}
.home-arrows-text h2 {
    display: inline-block;
    font-family: 'Roboto';
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
    opacity: 0.9;
}
.home-arrows-text h3 {
    display: inline-block;
    padding: 10px;
    font-size: 30px;
    opacity: 0.9;
}
.fa-angle-double-right {
    font-size: 50px;
    color: #902656;
    left: 0;
}
                                        /* REVIEW BAR */
.review-bar {
    display: flex;
    position: relative;
    background-color: rgba(237, 161, 161, 0.692);
    width: 100%;
    padding: 20px;
}
.fake-rating {
    text-align: center;
    font-size: 30px;
    width: 15%;
    line-height: 1.8em;
    margin: 0 auto;
    font-family: 'Righteous';
    font-weight: 500;
    margin-top: 1.5rem;
    margin-right: 2rem;
}
.review-images {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin: 0 auto;
}
.review-images img {
    padding: 20px;
    margin: 0 auto;
    border-radius: 50%; 
    min-height: auto;
    max-height: auto;
}
.review-gezond {
    margin-left: 30px;
    width: 35%;
}
.review-gezond h4 {
    font-size: 20px;
}
.review-gezond h5 {
    font-size: 18px;
    opacity: 0.9;
    font-family: 'Roboto';
}
                                        /* KLANTEN REVIEW */
.klanten-review-wrapper {
    background-color: #f1e3e3;
    height: 400px;
    display: flex;
}
.review-left {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: auto;
    top: 0;
    left: 12rem;
}
.review-right {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: auto;
    right: 12rem;
    top: 0;
}
.quote_marks {
    font-size: 4em;
    font-family: 'Roboto';
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
}
.klant-review-naam {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: 'Righteous';
}
.review {
    width: 20rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.review-left img {
    display: flex;
    mix-blend-mode: multiply;
    justify-content: center;
    position:relative;
    margin: 90px auto 0 auto;
}
.review-right img {
    display: flex;
    mix-blend-mode: multiply;
    justify-content: center;
    position:relative;
    margin: 50px auto 0 auto;
}
                                        /* IMG LIST */
.fresh-food-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/img-list.jpg);
    width: 30vw;
    max-height: 65vh;
    max-width: 30%;
    margin-left: 10%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.fresh-food-list {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    max-width: 35%;
    max-height: 65vh;
    left: 20rem;
    padding-left: 20px;
}
.fresh-food-list li {
    list-style: none;
    text-align: left;
}
    .fresh-food-list li > .fresh-food-list-kop {
   margin-left: 70px;
   font-family: 'Righteous';
   font-size: 24px;
}
    .fresh-food-list li > .fresh-food-list-text {
    margin-left: 70px;
    font-family: 'Roboto';
    color: black;
    font-weight: 500;
    opacity: 0.70;
}
.fresh-food-list > li > img {
    mix-blend-mode: multiply;
    display: flex;
    position: absolute;
    margin-top: 3%;
}
.home-img-list-wrap {
    background-color: rgba(237, 161, 161, 0.692);
    display: flex;
}
                                        /* RECEPTEN */
.home-grid-container {
    background-color: #f1e3e3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100%;
}
.home-grid-kop {
    justify-content: center;
    margin: 0 auto;
    padding-top: 2%;
    display: flex;
    background-color: #f1e3e3;
}
.grid-item img {
    margin-top: 8%;
}
.grid-item:hover {
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: transform 50ms;
    background-color: #f1e3e3;
    box-shadow: 1px 1px 1px #191919; 
}
.grid-item a {
    text-decoration: none;
    color: black;
}

.grid-item {
    text-align: center;
    border: 2px solid lightgray;
    margin: 0 auto;
    width: 20rem;
    transition: transform .2s;
    max-width: 25rem;
}

.main-grid-item {
    font-size: 25px;
}

.text-grid-item {
    font-family: 'Roboto';
    font-size: 16px;
    opacity: 0.7;
}


.recepturen-btn-home {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    background-color: #f1e3e3;
    padding-bottom: 2rem;
}
.recepturen-btn-home h2 {
    font-family: 'Roboto';
    display: block;
    border: 3px solid black;
    padding: 1em;
    margin: 0 auto;
    color: black;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: #E4CACA;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px 0px;
}
.recepturen-btn-home a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}


.recepturen-btn-home h2:hover {
    background-color: #902656;
    box-shadow: none;
}


                                /* BESTEL NU */
.home-gezin {
    background-color: rgba(237, 161, 161, 0.692);
    width: 100%;
    height: auto;
    display: flex;
}
.home-gezin-left {
    flex: 35%;
    margin: 0 auto;
    display: inline-block;
}
.home-gezin-left h1 {
    padding-top: 4%;
    margin-bottom: 2%;
    font-size: 20px;
    justify-content: center;
    display: flex;
    opacity: 0.6;
}
.home-gezin-left p {
    font-weight: 400;
    font-size: 18px;
    width: 50%;
    line-height: 1.6em;
    padding-bottom: 7%;
    margin: 0 auto;
}
.home-gezin-right {
   background-image: url(../images/foto-gezin.jpg);
   width: 28%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 18%;
}

.hero-bestel-nu-bottom {
    background-image: url(../images/home-bestel-nu-a.jpg);
    width: 100vw;
    height: 50vh;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bestel-nu-content h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: black;
    text-shadow: 1px 2px 1px white;
}
.bestel-nu-content h2 {
    font-family: 'Roboto';
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: black;
    text-shadow: 1px 1px 1px white;
}
.bestel-nu-bottom {
    display: block;
    width: 200px;
    border: 3px solid black;
    padding: 1em;
    margin: 50px auto 0 auto;
    font-size: 1.5em;
    border-radius: 20px;
    background-color: #E4CACA;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 8px 16px 0px;
}
.bestel-nu-bottom:hover {
    background-color: #902656;
    box-shadow: none;
}
.bestel-nu-content a {
    text-decoration: none;
    color: black; 
}
.active {
    font-weight: bold;
}
.card img {
    width: 220px;
    height: 220px;
}
.wrapper-bg {
    background-color: #f1e3e3;
}

        /* RECEPTUREN */

.wrapper-bg {
    padding-top: 90px;
}
@media screen and (max-width: 1800px) {
        .review-images img {
            max-width: 80%;
            max-height: 70%;
        }
}

@media screen and (max-width:1300px) {
    .review-images {
        margin-top: 1rem;
    }
    .fresh-food-list {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        max-width: 35%;
        left: 10rem;
        padding-left: 20px;
    }
    .fresh-food-list > li > img {
        margin-top: 15%;
        mix-blend-mode: multiply;
    }
    .bestel-nu-content h1, .bestel-nu-content h2 {
        padding-right: 15rem;
    }
    .bestel-nu-bottom {
        margin-right: 24rem;
    }
    .review-gezond {
        margin-left: 1rem;
        width: 20%;
    }
    .fresh-food-background {
        max-height: 50vh;
    }
    .fresh-food-list {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width:1500px) {
    .klanten-review-wrapper {
        height: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60%, 1fr));

    }
    .review-right .review-left {
        position: relative;
        display: flex;
    }
    .review-right {
        padding-bottom: 2rem;
        left: 20rem;
    }
    .review-left {
        left: 20rem;
    }
}

@media screen and (max-width: 800px) {
    .fresh-food-background {
        display: none;
    }

}
