/* for debugging */
[outlines="1"] * {
outline: 1px dashed
}
/* general */
body { font-size: 1rem; font-family: 'Roboto';}

section:nth-of-type(even) { background-color: var(--even-bg-color) }
section:nth-of-type(odd) { background-color: var(--odd-bg-color) }
:root {
--green: rgb(142, 200, 64);
--purple: rgb(144, 38, 86);

--odd-bg-color: hsla(0, 32.5%, 84.3%, 1);
--even-bg-color: hsla(0, 33.3%, 91.8%, 1); }


.dropdown:hover .dropdown-menu{ display: block;} .dropdown-menu{ margin-top: 0;}
.navbar-brand img { mix-blend-mode: multiply; max-height: 4.375rem; display: block; }

nav .nav-link,
nav .dropdown-item { color: black; font-weight: 500; font-size: 1.125rem; }
nav .nav-link:hover,
nav .dropdown-item:hover {background: #902656;}
.fa-bars { font-size: 1.125rem; color: black; }
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
nav .dropdown-menu { border: none; }

/* <<<<<<<<<<<<<<<<< BELOW 1200px */
@media (max-width: 1200px){
nav .nav-link,
nav .dropdown-item { color: black; font-weight: 500; font-size: 1.05rem; }
}
/* >>>>>>>>>>>>>>>>>> ABOVE 992px */
@media (min-width: 992px) {
    nav .nav-link {
        border-radius: 5px;
    }
}