/* for debugging */
[outlines="1"] * {
outline: 1px dashed
}
/***************** general ****************/
body { font-size: 1rem; font-family: 'Roboto'; }
h1, h2, h3, h4, h5, h6 { letter-spacing: 0.05em; font-family: 'Righteous'; font-weight: 500; color: black;}
p { color: black; }
section:nth-of-type(even) { background-color: var(--even-bg-color) }
section:nth-of-type(odd) { background-color: var(--odd-bg-color) }
:root {
--green: rgb(142, 200, 64);
--purple: rgb(144, 38, 86);

--odd-bg-color: hsla(0, 32.5%, 84.3%, 1);
--even-bg-color: hsla(0, 33.3%, 91.8%, 1);
--bg-ribbon-color: Gainsboro; }

a { text-decoration: none; color: black; }
a:hover {color: black;}

/*************** buttons ***************/
.action { box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, .2), 0px 1px 1px 0px rgba(0, 0, 0, .14) 0px 1px 3px 0px rgba(0, 0, 0, .12);}
.action:hover { transform: scale(1.02); box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, .20), 0px 3px 4px 0px rgba(0, 0, 0, .14), 0px 1px 8px 0px rgba(0, 0, 0, .12);}
.action:active { transform: scale(1); transition: all 0s ease-in-out;}

.btn-lg { font-size: 1.5em; background-color: rgba(187, 75, 125, 0.8); color: black; border: 2px solid black;border-radius: 1.25rem;}
.btn-sm { background-color: rgba(187, 75, 125, 0.8); border: 1px solid black; border-radius: .5em; font-size: 1.2rem; padding: .5em; color: black; }
.btn-x-sm { padding: 0.5rem 1rem; border-radius: .7em; min-width: 3.125rem; line-height: normal; cursor: pointer; transition: all 0.1s; background-color: rgba(187, 75, 125, 0.8); border: 1px solid black; margin-bottom: 0!important; user-select: none;}
.lg:hover,
.btn-sm:hover,
.btn-x-sm:hover { background-color: #902656;}

/**************** nav **************/
.dropdown:hover .dropdown-menu{ display: block;} .dropdown-menu{ margin-top: 0;}
.navbar-brand img { mix-blend-mode: multiply; max-height: 4.375rem; display: block; }

nav .nav-link,
nav .dropdown-item { color: black; font-weight: 500; font-size: 1.125rem; }
nav .nav-link:hover,
nav .dropdown-item:hover {background: #902656; color: black;}
.fa-bars { font-size: 1.125rem; color: black; }
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
nav .dropdown-menu { border: none; }
/* ********** searchbar ********* */
nav .search-box input, nav .search-box .fa-search { outline: none; border: none; }
/************* recipes ************/
.typewriter { border-bottom: 2px solid rgba(0, 0, 0, 0.3); width: 4.5rem; height: 1.7rem; }

.container-recepten .card-img-top { height: 14rem; width: auto; position: relative;}
.container-recepten .card a {border-radius: 10px; border: 1px solid rgba(0, 0, 0, .2);}
.container-recepten .card-title { font-size: 1rem; }
.container-recepten .card-text {font-size: .8rem; }
.cook-time { background: #E3F0D4; width: 5rem; padding-top: 1.5rem; border-radius: 10px; transform: rotate(45deg); top: -.3rem; right: -1.5rem; font-size: .8rem; border: 1px solid black;}
.cook-time i { padding-right: .2rem; font-size: 1rem;}

.container-recepten .search { position: relative; box-shadow: 0 0 40px rgba(51, 51, 51 .1);}
.container-recepten .search input { height: 2.75rem; text-indent: 1.5rem; border: 2px solid #d6d4d4; border-radius: 5px; min-width: 100%; }
.container-recepten .search .fa-search { position: absolute; top: .8rem; left: .8rem;}
.container-recepten .search input:focus { box-shadow: none; border: 2px solid blue;}
.container-recepten li {background: transparent; }

/************ filter bar **********/
.filter-radio {display: none; }
input[type="checkbox"]:checked ~ .container-recepten [data-category] { display: none; }
/* .filter-radio[type="radio"] { display: none; } */
.container-filter .filters {text-align: center;}
.container-filter .filters * {display: inline-block;}
.container-filter .filters label {padding: 0.5rem 1rem; border-radius: .7em; min-width: 3.125rem; line-height: normal; cursor: pointer; transition: all 0.1s; background-color: rgba(187, 75, 125, 0.8); border: 1px solid black; margin-bottom: 0!important; user-select: none;}
.container-filter .filters label:hover {background: #902656;}

.container-filter [data-category] > { display: block; }

[value="Vlees"]:checked ~ .container-recepten .card[data-category~="Vlees"], 
[value="Vis"]:checked ~ .container-recepten .card[data-category~="Vis"], 
[value="Vega"]:checked ~ .container-recepten .card[data-category~="Vega"], 
[value="Salade"]:checked ~ .container-recepten .card[data-category~="Salade"], 
[value="Dessert"]:checked ~ .container-recepten .card[data-category~="Dessert"]
{display:flex; }

.container-filter .fa-check-circle { display: none; }

[value="Vlees"]:checked ~ .container-filter .filters [for="Vlees"],
[value="Vis"]:checked ~ .container-filter .filters [for="Vis"],
[value="Vega"]:checked ~ .container-filter .filters [for="Vega"],
[value="Salade"]:checked ~ .container-filter .filters [for="Salade"],
[value="Dessert"]:checked ~ .container-filter .filters [for="Dessert"]
{ border: 2px solid black; }

[value="Vlees"]:checked ~ .container-filter .filters [for="Vlees"] i,
[value="Vis"]:checked ~ .container-filter .filters [for="Vis"] i,
[value="Vega"]:checked ~ .container-filter .filters [for="Vega"] i,
[value="Salade"]:checked ~ .container-filter .filters [for="Salade"] i,
[value="Dessert"]:checked ~ .container-filter .filters [for="Dessert"] i
{ display: inline-block; color: rgb(245, 215, 215); padding-right: .3rem;}


/************* hero *************/
.container-hero .container-fluid { background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url("../images/recepten_hero.jpg"); background-size: cover; background-position: 50% 70%; background-repeat: no-repeat; background-attachment: fixed; }
.container-hero .container-fluid {height: 40vh;}
.container-hero h1 { color: white; text-shadow: 1px 2px 1px black; padding-top: 5rem; }
.container-hero h2 { font-family: 'Roboto';}
















/************* footer *************/
footer .container-fluid { background: var(--odd-bg-color); }
footer .list-group { border: none; }
footer .list-group-item { border: none; }

footer .phone *,
footer .email * { display: inline-block; }
footer .contact i {background-color: var(--green); border-radius: 50%;}
footer .fa-facebook { color: #3B5998;}
footer .fa-pinterest {color: #C8323C;}
footer .fa-cc-mastercard {
  background: -webkit-linear-gradient(180deg, #FF5F00 50%, #EB001B 66%);
  background-clip:border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
footer .fa-cc-visa {color: #1a1f71;}
footer .fa-ideal { color: #CC0066; }
footer .fa-cc-paypal { color: rgb(0 69 124);}
footer .ct-head { position: relative;}
footer .ct-head::after { position: absolute; content: '';height: 4px;bottom: 0;left: 0; width: 25%;background: #96c959;}











/* <<<<<<<<<<<<<<<<< BELOW 1200px */
@media (max-width: 1200px){
nav .nav-link,
nav .dropdown-item { color: black; font-weight: 500; font-size: 1.05rem; }
.container-recepten { flex-direction: column; }
.container-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), transparent url("../images/recepten_hero.jpg") scroll no-repeat contain }
.container-hero .text-effect h2 { font-size: 1.10rem !important; }
}
/* >>>>>>>>>>>>>>>>>> BELOW 992px */
@media (max-width: 992px) {
    nav .dropdown-item { padding: .5rem 0 .5rem 2rem !important; font-size: 1.125rem; }
    nav .nav-link { padding: .8rem; font-size: 1.25rem;}
    .container-recepten .row { width: 100%; }    
}
/* >>>>>>>>>>>>>>>>>> ABOVE 992px */
@media (min-width: 992px) {
    nav .nav-link { border-radius: 5px; }
}    
/*>>>>>>>>>>>>>>>>>> BELOW 576 px */
    
@media all and (min-width: 36rem) {
 }
